<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Damian's Portfolio</title>
    <link href="{{ url_for('static', filename='css/template.css') }}" rel="stylesheet">

</head>
<body>

<section id="title">
    <div class="top-container">
        <nav class="navbar">
            <a class="navbar-brand" >My portfolio</a>
          <ul>
            <!-- <li><a class="nav-item" href="#">Home</a></li>
            <li><a class="nav-item" href="#">Projects</a></li>
            <li><a class="nav-item" href="#">Contact</a></li> -->
          </ul>
        </nav>

        <!-- <div class="inner-top-container">
        <a class="welcome-text" >HI.</a>
        </div> -->
      </div>
      <div class="im-so-sorry">
        <a> Please keep in mind that this website is not mobile responsive yet. Work in progress. Thank you.</a>
      </div>
</section>



</body>
</html>